# Ignore git history
.git/
.gitignore

# Ignore Python caches
__pycache__/
*.pyc
*.pyo

# Ignore venv
venv/
.venv/


# Ignore IDE files
.vscode/
.idea/

# Ignore tests
tests/
*.test.py

# Ignore docs
docs/

# Ignore Docker artifacts
Dockerfile
*.log

*.pdf
*.txt
*.csv
